
<div class="center-block">

	  <a routerLink="../add" routerLinkActive="active" class="btn btn-info center-block" style="max-width: 20%">
	  	Adauga Apartament
	  </a>	

</div>

<br>

<table class="table">
    <thead>
      <tr>
        <th>Numar Camere</th>
        <th>Numar Bai</th>
        <th>Adresa</th>
        <th>Suprafata</th>
        <th>Pret</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
				
	
		<tr *ngFor="let item of items; let i = index" [attr.data-index]="i" routerLink="{{i}}" routerLinkActive="active" class="divHover"> 
			<td> {{item.name}} </td> 
			<td> {{item.name}} </td> 
			<td> {{item.name}} </td> 
			<td> {{item.name}} </td> 
			<td> {{item.name}} </td> 
			<td><a routerLink="../edit/{{i}}" routerLinkActive="active">Edit</a> </td>

		</tr>
	
    </tbody>
  </table>




