
<div style="max-width: 50%">

		<div class="form-group">
			<input class="form-control" type="text" name="" placeholder="Numar Camere" [(ngModel)]="new_item.rooms">

			<input class="form-control" type="text" name="" placeholder="Numar Bai" [(ngModel)]="new_item.baths">
			<input class="form-control" type="text" name="" placeholder="Adresa" [(ngModel)]="new_item.address">
			<input class="form-control" type="text" name="" placeholder="Suprafata" [(ngModel)]="new_item.area">
			<input class="form-control" type="text" name="" placeholder="Pret" [(ngModel)]="new_item.price">

		</div>
		<button (click)="edit()" routerLink="/dashboard" class="btn btn-success" style="float: right">Edit</button>


</div>